<div id="communication_form">
  <div class="panel">
    <%= form_for([:user, @poll], html: {class: 'form-horizontal'}) do |f| %>
        <div class="form-group">
          <label class="col-sm-3 control-label">Titre général des offres</label>
          <div class="col-sm-9"><%= f.text_field :title, class: 'form-control' %></div>
        </div>
        <div class="clear pt-lg ph-lg text-right">
          <%= link_to 'Retour', user_dashboard_path, class: 'btn btn-lg btn-danger' %>
          <%= f.submit (@program.persisted? ? "Mettre à jour le titre" : "Créer la programmation"),
                       class: 'btn btn-lg btn-primary' %>
        </div>
    <% end %>
  </div>
</div>
