<div class="content-heading">Supports de communication</div>
<div id="communication_form">
  <div class="alert alert-info">
    <em class="icon-info pr-sm"></em>La commande de kits com pour les Journées Européennes du Patrimoine de la Métropole
    de Lyon n'est plus modifiable en ligne. Pour toute question, veuillez prendre contact avec :<br/>
    <em class="icon-arrow-right-circle pr-sm"></em>Dorine Lutoff, tél : 04 26 83 94 97,<br/>
    mail : <a href="mailto:jep.metropole@grandlyon.com">jep.metropole@grandlyon.com</a><br/>
  </div>
</div>
