<div class="content-heading">Paramétrage du compte</div>
<% unless @user.legal_entity_id %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="mb0">
      <em class="icon-info pr-sm"></em>Avant de commencer votre saisie, veuillez renseigner les informations
      complémentaires concernant la structure organisatrice des évènements pour les Journées européennes du patrimoine (JEP).
    </p>
  </div>
</div>
<% end %>
<%= render 'shared/forms/account_form', account_form_url: user_account_path(@user) %>