<div class="panel panel-success panel-flat">
  <div class="panel-heading">Questionnaire transmis</div>
  <div class="panel-body">
    <p>
      Vos réponses ont bien été enregistrées. Nous vous remercions pour votre participation à cette phase bilan
      qui nous permettra d'améliorer le dispositif pour l'année prochaine.<br/>
      <br/>
      L'équipe JEP pour la Métropole de Lyon<br/>
      <%= mail_to 'jep.metropole@grandlyon.com', 'jep.metropole@grandlyon.com' %>
    </p>
  </div>
</div>