<p>
  Bonjour à toutes et à tous,<br/>
  <br/>
  De nombreux acteurs des Journées Européennes du Patrimoine 2019 ont d’ores et déjà rempli le questionnaire bilan de
  la Métropole de Lyon et nous les en remercions.<br/>
  <br/>
  Pour celles et ceux qui ne l’ont pas encore fait, vous avez jusqu’au <strong>vendredi 11 octobre dernier délai</strong>
  pour le remplir.<br/>
  Pour cela, connectez-vous sur votre espace ApidaeJEP ou cliquez sur <%= link_to 'ce lien', new_user_user_event_polls_url(@user.id) %>.<br/>
  Vos réponses à ce questionnaire seront intégrées dans le bilan global des JEP 2019, et serviront à préparer les JEP 2020.
  <br/>
  Bien cordialement,<br/>
  <br/>
  Equipe de coordination des JEP<br/>
  Métropole de Lyon / Direction de la Culture<br/>
  jep.metropole@grandlyon.com<br/>
  <br/>
  Métropole de Lyon - 20, rue du Lac - CS 33569 - 69505 Lyon cedex 03  - http://www.grandlyon.com
</p>
