<p>
  Madame, Monsieur,<br/>
  <br/>
  Nous espérons que vous avez passé une excellente édition des JEP 2022 sur la thématique « Patrimoine pour tous ».<br/>
  <br/>
  Comme chaque année, nous essayons d’élaborer et de largement diffuser le bilan car c’est notre manière de garder le
  lien et de faire vivre le réseau. Aussi, nous devons encore vous mobiliser et vous remercions de bien vouloir remplir
  le traditionnel questionnaire bilan disponible sur votre espace ApidaeJEP en suivant <%= link_to 'ce lien', new_user_user_event_polls_url(@user.id) %>.
  Nous vous invitons à vous acquitter de cette petite tâche « à chaud », dès maintenant, avant le vendredi 2 octobre.<br/>
  <br/>
  N’hésitez pas par ailleurs à nous faire des commentaires qualitatifs aussi importants que la fréquentation. Il nous
  est en effet particulièrement précieux de recueillir vos avis sur l’organisation, la qualité du programme, les
  thématiques, les offres, les publics…<br/>
  <br/>
  Bien cordialement,<br/>
  <br/>
  L'Équipe de coordination des JEP<br/>
  Métropole de Lyon / Direction de la Culture<br/>
  jep.metropole@grandlyon.com<br/>
  <br/>
  Métropole de Lyon - 20, rue du Lac - CS 33569 - 69505 Lyon cedex 03  - http://www.grandlyon.com
</p>
