<h1><%= Rails.application.config.publication_title %></h1>
<h2><%= @title %></h2>
<p>
  Bonjour,<br/>
  <br/>
  <p style="white-space: pre-line;"><%= @comment %></p>
<em>Cet email est généré automatiquement - Il est inutile d'y répondre</em>