<h1><%= Rails.application.config.rejection_title %></h1>
<h2><%= @title %></h2>
<p>
  Bonjour,<br/>
  <br/>
  Votre saisie a été invalidée par l'équipe de modération des JEP 2017.<br/>
  <% if @comment %>
  Le commentaire fourni est le suivant :<br/>
  <span style="white-space: pre-line; font-weight: bold;"><%= @comment %></span><br/>
  <% end %>
  Si vous le souhaitez, vous pouvez proposer une nouvelle saisie dans l'application ApidaeJEP à l'adresse suivante :<br/>
  <%= link_to 'Proposer une nouvelle saisie', new_user_program_program_item_url(id: @item.id) %>
</p>
<em>Cet email est généré automatiquement - Il est inutile d'y répondre</em>