<div class="row mt-lg">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading">
        Saisie enregistrée
      </div>
      <%= render 'confirm_links' %>
    </div>
  </div>
</div>
