<h3>Assistance</h3>
<div class="panel panel-info">
  <div class="panel-body">
    <p>
      <% if current_user.territory == GRAND_LYON %>
          Pour tous les évènements JEP concernant la Métropole de Lyon :<br/>
          <strong>Feriel Khelfa</strong>,<br/>
          tél : 04 26 83 94 97,<br/>
          mail : <%= mail_to 'jep.metropole@grandlyon.com' %>.
      <% elsif current_user.territory == ISERE %>
          Pour tous les évènements JEP concernant l'Isère :<br/>
          <strong>Direction de la culture et du patrimoine, service du patrimoine culturel</strong>,<br/>
          tél : 04 76 00 31 21,<br/>
          mail : <%= mail_to 'dcp.pac@isere.fr' %>.
      <% end %>
    </p>
    <a href="/guide_saisie_apidaejep.pdf" target="_blank" class="btn btn-primary btn-lg">
      Télécharger le guide de saisie
    </a>
  </div>
</div>