<div class="panel-body">
  <% if @item.draft? %>
    <p class="text-center">
      Votre brouillon a bien été enregistré. Pensez à le compléter ultérieurement puis à le soumettre afin
      qu'il soit intégré dans le programme des JEP 2017.
    </p>
  <% else %>
    <p class="text-center">
      Votre offre a bien été envoyée aux coordonnateurs JEP pour validation.
      Nous vous avertirons via votre tableau de bord lorsque votre offre aura été validée.
    </p>
  <% end %>
</div>
<div class="panel-footer text-right">
  <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Ajouter une offre'.html_safe,
              new_user_program_program_item_path(@program), class: 'btn btn-success btn-labeled' %>
  <%= link_to '<span class="btn-label"><i class="fa fa-dashboard"></i></span>Tableau de bord'.html_safe,
              url_for(controller: 'user/dashboard', action: :index), class: 'btn btn-info btn-labeled' %>
</div>