<%= form_for([:user, @program, @item], url: save_user_program_program_item_path(@program.id, @item)) do |item_form| %>
    <div class="modal-body">
      <fieldset class="mb0 pb0">
        <div class="form-group">
          <label class="col-sm-5 control-label">Choix de la nouvelle programmation</label>
          <div class="col-sm-7">
            <%= item_form.select :program_id, @programs, {}, class: 'form-control' %>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <%= item_form.submit 'Valider', class: 'btn btn-primary' %>
    </div>
<% end %>
