<div class="pull-right">
  <%= link_to '<span class="btn-label"><i class="fa fa-plus"></i></span>Saisir une offre'.html_safe, new_user_program_item_path,
              class: 'btn btn-labeled btn-primary' %>
</div>
<h3>
  ApidaeJEP - Mes offres
  <% if @status %>
  &nbsp;<span class="label text-normal label-<%= item_color(@status) %>"><%= t "program_item.statuses.#{@status}" %></span>
  <% end %>
</h3>
<div id="program_items" class="row">
  <% @items.each_with_index do |item, i| %>
    <%= render 'shared/forms/program_item', item_controller: 'user/program_items', item: item, i: i %>
  <% end %>
</div>