<div class="content-heading">Créer une nouvelle offre</div>
<%= render 'shared/forms/item_form', form_scope: :user %>
<% content_for :body_area do %>
    <%= render 'shared/forms/item_form_scripts', update_form_path: update_form_user_program_program_items_path(@program.id) %>
<% end %>