<div class="block-center mt-xl wd-xl">
  <div class="panel panel-dark panel-flat">
    <div class="panel-heading text-center">
      <img src="<%= image_path('logo_apidae_mono.svg') %>" alt="logo apidae" class="wd-xs" />
    </div>
    <div class="panel-body">
      <h4 class="text-center mt-sm">ApidaeJEP - Administration</h4>
      <p class="text-center pv">
        Journées Européennes du Patrimoine 2017
      </p>
      <%= link_to 'Se connecter avec Apidae', '/oauth/auth/apidae_admin', class: 'btn btn-block btn-danger text-uppercase' %>
    </div>
  </div>
</div>