<div class="block-center mt-xl wd-xl">
  <div class="panel panel-dark panel-flat">
    <div class="panel-heading text-center">
      <img src="<%= image_path('logo_apidae_mono.svg') %>" alt="logo apidae" class="wd-xs" />
    </div>
    <div class="panel-body">
      <h4 class="text-center mt-sm">Réinitaliser mon mot de passe</h4>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <p class="text-center">Veuillez saisir votre adresse email afin de recevoir les instructions de réinitialisation de votre mot de passe.</p>
        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Adresse email' %>
          <span class="fa fa-envelope form-control-feedback text-muted"></span>
        </div>
        <%= f.submit 'Réinitialiser mon mot de passe', class: 'btn btn-block btn-danger mt-lg text-uppercase' %>
      <% end %>
    </div>
  </div>
</div>
