<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div>
      <em class="icon-arrow-left-circle pr-sm text-primary"></em><%= link_to 'Retour', root_url %>
    </div>
    <h3 class="pb-lg">Vous souhaitez participer aux Journées européennes du patrimoine 2017 ?</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">Qui peut participer aux Journées européennes du patrimoine ?</div>
      <div class="panel panel-body mb0">
        <p>
          <em class="icon-arrow-right-circle pr-sm"></em>Créées en 1984 à l’initiative du Ministère de la culture et
          de la communication, les JEP constituent l’événement culturel de rentrée pour lequel l’engouement du public se
          renouvelle année après année ;<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Le patrimoine est considéré dans sa définition la plus large
          comprenant le patrimoine culturel, mobilier et immobilier, mais également le patrimoine naturel et immatériel ;<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Tout acteur qui souhaite faire partager sa connaissance, son
          expertise, son engagement en faveur de la sauvegarde, de la préservation, de la mise en valeur ou de la transmission
          du patrimoine est invité à participer en organisant un évènement ou l’ouverture exceptionnelle d’un site.<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Les évènements proposés peuvent
          concerner la visite d’un édifice ou d’un site, un parcours entre plusieurs lieux ou une animation.<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Le principe général est un accès libre et gratuit mais
          exceptionnellement un droit d’accès ou des modalités de réservation particulière peuvent être demandés pour
          couvrir des frais techniques et garantir la bonne organisation de l’événement.
        </p>
      </div>
    </div>

    <div class="panel panel-primary mt-xl">
      <div class="panel-heading">Comment participer ?</div>
      <div class="panel-body">
        <p>
          Vous organisez un évènement à l'occasion des Journées européennes du patrimoine dans le territoire de la
          <strong>Métropole de Lyon</strong> ou du <strong>département de l'Isère</strong>, voici les 5 étapes pour
          vous inscrire à partir de l'interface de saisie ApidaeJEP :<br/>
          <br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Etape 1 : Identifiez-vous ou créez un compte utilisateur et choisissez votre mot de passe<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Etape 2 : Renseignez les informations organisateur<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Etape 3 : Saisissez le titre général de votre programmation ainsi que chacune de vos offres<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Etape 4 : Les offres sont validées par la Métropole de Lyon ou le Département de l’Isère (en fonction du lieu de votre évènement).<br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Etape 5 : Vos offres validées sont ensuite repris sur la programmation officielle de la Métropole de Lyon ou du Département de l'Isère...<br/>
          … ainsi qu’auprès des membres du réseau Apidae (Offices de Tourisme et autres membres) qui peuvent reprendre
          les informations pour renseigner les publics ou sur leurs propres supports de communication.<br/>
          <br/>
          <em class="icon-exclamation pr-sm"></em>Attention :<br/>
          Les organisateurs sont responsables des contenus diffusés sur l'agenda.
          Ils doivent notamment s'assurer avoir libéré les droits des images car celles-ci pourront être réutilisées par des tiers.<br/>
          <br/>

          <em class="icon-info pr-sm"></em>A noter :<br/>
          Pour utiliser efficacement l’interface ApidaeJEP, merci d'utiliser un navigateur récent. Vous pouvez utiliser également
          votre tablette ou votre mobile.<br/>
        </p>
        <div class="text-center">
          <a href="/guide_saisie_apidaejep.pdf" target="_blank" class="button button-outline button-dark">Consulter le guide de saisie ApidaeJEP</a>
        </div>
      </div>
    </div>

    <div class="panel panel-primary mt-xl">
      <div class="panel-heading">Contacts utiles</div>
      <div class="panel-body">
        <p>
          Pour tous les évènements JEP concernant la Métropole de Lyon :<br/>
          <br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Laurent Chopard, tél : 04 26 83 94 98,<br/>
          mail : <a href="mailto:jep.metropole@grandlyon.com">jep.metropole@grandlyon.com</a><br/>
          <br/>
          Pour tous les évènements JEP concernant l’Isère :<br/>
          <br/>
          <em class="icon-arrow-right-circle pr-sm"></em>Direction de la culture et du patrimoine, service du patrimoine culturel, tél : 04 76 00 31 21,<br/>
          mail : <a href="mailto:dcp.pac@isere.fr">dcp.pac@isere.fr</a>
        </p>
      </div>
    </div>
    <div class="mt-xl">
      <em class="icon-arrow-left-circle pr-sm text-primary"></em><%= link_to 'Retour', root_url %>
    </div>
  </div>
</div>


