.pre {
  white-space: pre-line;
}

.vam {
  vertical-align: middle;
}

.vat {
  vertical-align: top !important;
}

.text-std {
  font-size: 20px;
}

.mauto {
  margin: auto;
}

.w100 {
  width: 100%;
}

.w25 {
  width: 25%;
}

.lh {
  line-height: 1em;
}

.btn.btn-labeled {
  text-align: left;
}

.aside-collapsed .wrapper > .aside .aside-inner {
  padding-top: 62px;
}

.text-xs {
  font-size: 9.5px;
}

a > em:hover, a.text-white:hover {
  text-decoration: none;
}

nav.topnavbar .navbar-header .brand-logo-collapsed {
  padding: 14px 10px;
}

#user_navbar,
#moderator_navbar {
  line-height: 60px;
}

#user_login input.btn, #user_login a.btn, #user_login form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#user_login #partners img {
  max-height: 40px;
  max-width: 95%;
  width: auto;
}

#modal_window .modal-dialog > .modal-content {
  overflow: hidden;
}

a.text-white:hover, a.text-white:focus {
  color: white;
}

#user_dashboard {
  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: #dedede;
    }
  }
}

form .help_button {
  background-color: transparent;
}

form #item_map {
  height: 360px;
}

#item_map .leaflet-marker-icon {
  background-color: transparent;
  border: none;
  text-align: center;
}

#item_map .leaflet-marker-icon .fa-map-marker {
  color: #e53075;
  font-size: 32px;
}

#item_map .leaflet-pelias-control.leaflet-pelias-expanded {
  width: 360px;
}

#item_map .leaflet-pelias-results .leaflet-pelias-message {
  padding: 4px 10px 0 10px;
  color: #909293;
}


form .mdy > label:after {
  display: inline;
  content: " * ";
  font-weight: bold;
}

form .item_photos img {
  max-width: 100%;
  max-height: 160px;
}

form .previous_val {
  color: #edc141;
}

#item_types label.btn.active {
  background-color: #6eb1c6;
  color: white;
}

#program_items picture.lateral-picture {
  height: 180px;
  line-height: 180px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}

#program_items h3 > span {
  vertical-align: bottom;
  line-height: 24px;
}

#program_items .btn-group .dropdown-menu {
  right: 0;
  left: auto;
}

#program_items .panel.widget {
  overflow: visible;
}

#edit_opening .date.datepicker, #edit_opening .date.datetimepicker {
  border: 1px solid #dde6e9;
  border-radius: 6px;
}

#edit_opening .timepicker-picker table td.separator {
  display: none;
}

#edit_opening ul .timepicker-picker table td.separator {
  display: table-cell;
  width: 15px;
  opacity: 0;
}

#edit_opening .timepicker-picker table td:first-child:after {
  display: inline-block;
  margin-right: -30px;
  width: 30px;
  content: '\00A0';
}

#edit_opening .timepicker-picker table tr:nth-child(2) td:first-child:after {
  content: 'h';
  font-size: 1.6em;
}

#edit_opening .timepicker-picker .timepicker-hour,
#edit_opening .timepicker-picker .timepicker-minute,
#edit_opening .timepicker-picker .timepicker-second {
  font-size: 1.6em;
}

#edit_opening .datepicker td.day.disabled {
  color: #ccc;
}

#edit_opening .bootstrap-datetimepicker-widget a[data-action] {
  padding: 0;
}

#edit_opening div.row > div.timepicker > div.timepicker-picker:before {
  display: block;
  content: 'Horaire';
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

#edit_opening li.picker-switch td > a > span.icon-trash {
  height: 2em;
  line-height: 2em;
  width: 100%;
}

#edit_opening li.picker-switch td > a > span.icon-trash:after {
  display: inline-block;
  margin-left: 5px;
  content: 'Supprimer';
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#edit_start_date div.datepicker,
#edit_end_date div.datepicker {
  padding-right: 0;
}

.picker_sm ul {
  font-size: 1em;
}

.picker_sm .bootstrap-datetimepicker-widget table td,
.picker_sm .bootstrap-datetimepicker-widget table td span {
  height: 24px;
  width: 36px;
  line-height: 24px;
}

#program_item_form legend.openings {
  position: relative;
}

#program_item_form legend.openings > small.error {
  font-size: 14px;
  right: 0;
}

#edit_opening_error {
  color: #d67c7d;
}

form select.error + small + div.chosen-container > ul.chosen-choices,
form select.error + small + span.select2-container span.select2-selection,
form input.error,
form textarea.error {
  background: rgb(251, 227, 228);
  border: 1px solid #fbc2c4;
  color: #8a1f11;
}

form small.error {
  position: absolute;
  right: 25px;
  margin: 0;
  z-index: 999;
  color: #f05050;
  font-weight: bold;
  top: 7px;
  text-transform: none;
}

#program_item_form label.c-checkbox > small.error:first-child {
  top: 25px;
  right: auto;
  left: -9em;
}

#program_item_form #accept_pictures label.c-checkbox > small.error:first-child {
  left: auto;
}

#program_item_form .datepicker small.error {
  right: 55px;
}

#program_item_form .chosen-choices li.search-field input[type="text"] {
  font-family: inherit;
}

form .select2.select2-container .select2-selection--single,
form .select2-selection__arrow {
  height: 36px !important;
}

form .select2 .select2-selection__rendered,
form .select2 .select2-selection__rendered::after {
  line-height: 34px !important;
}

#entity_form .select2 .select2-selection__arrow {
  display: none;
}

#entity_form .select2 .select2-selection__rendered {
  padding-left: 32px;
  padding-right: 8px;
}

#entity_form .select2 .select2-selection__rendered::after {
  content: "\f002";
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #656565;
  font-size: 18px;
  padding-left: 8px;
}

#entity_form_fields .select2.select2-container,
#map_fields .select2.select2-container {
  width: 100% !important;
}

.table-responsive td > a:hover {
  text-decoration: none;
}

.table > thead.bg-gray-darker > tr > th {
  color: white;
}

#event_poll_wrapper .form_entry {
  font-size: 18px;
  line-height: 1em;
  height: 80px;
  margin: 15px 0;
  padding: 15px;
  border-right: 2px solid #3a3f51;
}