a.text-white:hover, a.text-white:focus {
  color: white;
}

.item_map {
  height: 200px;
}

form .mdy > label:after {
  display: inline;
  content: " * ";
  font-weight: bold;
}

form .item_photos img {
  max-width: 100%;
  max-height: 160px;
}
