/**
 * Redefine font-face with font-url() , this function is provided by sass-rails.
 */

/* FontAwesome */

@font-face {
  font-family: 'FontAwesome';
  src: font-url('fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: font-url('fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  font-url('fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  font-url('fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  font-url('fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  font-url('fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Simple-Line-Icons */

@font-face {
  font-family: 'Simple-Line-Icons';
  src:font-url('simple-line-icons/fonts/Simple-Line-Icons.eot?v=2.3.2');
  src:font-url('simple-line-icons/fonts/Simple-Line-Icons.eot?#iefix&v=2.3.2') format('embedded-opentype'),
    font-url('simple-line-icons/fonts/Simple-Line-Icons.woff?v=2.3.2') format('woff'),
    font-url('simple-line-icons/fonts/Simple-Line-Icons.woff2?v=2.3.2') format('woff2'),
    font-url('simple-line-icons/fonts/Simple-Line-Icons.ttf?v=2.3.2') format('truetype'),
    font-url('simple-line-icons/fonts/Simple-Line-Icons.svg?v=2.3.2#Simple-Line-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
