<div class="alert alert-warning text-center mt-xl wd-md center-block p-xl">
  <em class="icon icon-exclamation fa-4x"></em><br/>
  <br/>
  Votre compte est inactif. Si vous pensez qu'il s'agit d'une erreur, veuillez contacter la personne en charge de
  l'administration ApidaeJEP sur votre territoire.
</div>