<nav role="navigation" class="navbar topnavbar">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <div class="brand-logo-collapsed">
        <img src="<%= image_path('logo_apidae_mono.svg') %>" alt="logo apidae"/>
      </div>
    </a>
  </div>
  <div id="user_navbar" class="nav-wrapper text-md text-center">
    <span class="text-white text-std">Journées européennes du patrimoine - 21 & 22 Septembre 2019<%= " - #{t('territory.' + current_user.territory)}" if current_user.territory %></span>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to '<em class="icon-logout"></em>'.html_safe, destroy_user_session_path, method: :delete, title: 'Déconnexion' %>
      </li>
    </ul>
  </div>
</nav>
