<p>Bonjour <%= @resource.email %>,</p>

<p>
  Une demande de réinitialisation de mot de passe a été effectuée depuis votre compte. Vous pouvez démarrer la procédure
  en cliquant sur le lien ci-dessous.
</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien.</p>
